{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
 <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
 <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
 
 <link href="{% static 'css/leaflet.timeline.min.css' %}" rel="stylesheet">
 <link href="{% static 'css/project.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
<div class="row">
	<div class="col-md-8">
 		<div id="shanghaimap"></div>
	</div>
	<div class="col-md-4">
		<div>
		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#exact" aria-controls="exact" role="tab" data-toggle="tab">Exact Search</a></li>
		    <li role="presentation"><a href="#range" aria-controls="range" role="tab" data-toggle="tab">Range</a></li>
		    <li role="presentation"><a href="#knn" aria-controls="knn" role="tab" data-toggle="tab">KNN</a></li>
		    <li role="presentation"><a href="#play" aria-controls="play" role="tab" data-toggle="tab">Play</a></li>
		  </ul>

		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="exact">
		    	<h3>Search by trajectory id </h3>
		    	<form class="form-horizontal" id="id-search-form">
		    		{% csrf_token %}
					<div class="form-group">
						<label for = "search-id" class="col-sm-3 control-label">ID </label>
						<div class="col-sm-9">
							<input type="number" class="form-control" id="search-id">
						</div>
					</div>
					<div class="form-group">
						<div class="col-offset-3 col-sm-9">
						<button type="submit" class="btn btn-default">Search</button> 
						</div>
					</div>
				</form>
			</div>
		    <div role="tabpanel" class="tab-pane" id="range">
		    	<h3> Search by circular range </h3>
		    	<p id = "range-results"></p> 
				<p>Click on any point in the map to select.</p>
				<form class="form-horizontal" id="point-search-form">
					{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-3 control-label"> Latitude</label>
						<div class="col-sm-9">
						<input type = "number" class="form-control" readonly id="point-latitude">
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Longitude</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" readonly id = "point-longitude">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">Radius</label>
						<div class="col-sm-9">
							<input type="number" class="form-control" readonly id = "radius">
						</div>
					</div>
					<div class="hidden">
						<input type="text" id = "geo">
					</div>
					<div class='form-group'>
					<h4 class="col-sm-8">Filter by time </h4>
						<label class="col-sm-4 control-label">
							<input type="checkbox" id="time-toggle" value="" checked = 'true'>
							Enable </label> 
						  
					</div>
					<div id="time-filter">
					<div class="form-group">
						<label class="col-sm-3 control-label">Start</label>
						<div class="col-sm-9">
							<input type="time" class="form-control"  id = "start-time">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">End</label>
						<div class="col-sm-9">
							<input type="time" class="form-control"  id = "end-time">
						</div>
					</div>
				    </div>

					<div class="form-group">
						<div class="col-offset-3 col-sm-9">
						<button type="submit" class="btn btn-default">Search</button> 
						</div>
					</div>
				</form>
				<!--TODO add polygon range -->
		    </div>
		    <div role="tabpanel" class="tab-pane" id="knn">
		    	<h3>K nearest neighbors search </h3>
		    	<form class="form-horizontal" id = "knn-search-form">
		    			{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-3 control-label"> Target ID</label>
						<div class="col-sm-9">
						<input type = "number" class="form-control" id="knn-id">
						</div> 
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> Number of results</label>
						<div class="col-sm-9">
						<input type = "number" class="form-control" id="knn-k">
						</div> 
					</div>

					<div class="form-group">
						<div class="col-offset-3 col-sm-9">
						<button type="submit" class="btn btn-default">Search</button> 
						</div>
					</div>
				</form>



		    </div>
		    <div role="tabpanel" class="tab-pane" id="play">
		    	<h3>Load trajectory points and replay</h3>
		    	<form class="form-horizontal" id = "play-search-form">
		    			{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-3 control-label"> Target ID</label>
						<div class="col-sm-9">
						<input type = "number" class="form-control" id="play-id">
						</div> 
					</div>
					<div class="form-group">
						<div class="col-offset-3 col-sm-9">
						<button type="submit" class="btn btn-default">Load points</button> 
						</div>
					</div>
				</form>
				<p id = "play-load-status"> </p>
				<h4> Replay Settings</h4>
				<form class="form-horizontal" id = "play-form">
		    			{% csrf_token %}
					<div class="form-group">
						<label class="col-sm-3 control-label"> Total play time</label>
						<div class="col-sm-9">
						<input type = "number" class="form-control" id="play-id">
						</div> 
					</div>
					<div class="form-group">
						<div class="col-offset-3 col-sm-9">
						<button type="submit" class="btn btn-default">Apply Settings</button> 
						</div>
					</div>
				</form>

		    </div>
		  </div>

		</div>

	</div>
</div>
 
{% endblock content %} 
{% block javascript %}
{{block.super}}
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
  <!--  // <script src="http://www.mapquestapi.com/sdk/leaflet/v2.s/mq-map.js?key=6OnyIRdDcWYkr9GiodtAGpMKUFIBUOHG"></script> -->
  <script src="{% static 'js/leaflet.timeline.min.js' %}"></script>
  <script src="{% static 'js/map.js' %}"></script>
{% endblock javascript %}
